/* Para a página de Dicas */
.dicas-section {
  position: relative; /* Garante que o link seja posicionado dentro desse contêiner */
}

.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  z-index: 1100; /* Garante que o link fique acima de outros elementos */
}

.back-link:hover {
  text-decoration: underline; /* Efeito visual no hover */
}

.dicas-container {
  margin-top: 30px;
  padding: 20px;
}

/* Estilo do grid de cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Estilo da sidebar */
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000; /* Mantém a sidebar abaixo do link de voltar */
  color: black;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
}
