front-end

cd front-end
npm install
npm install axios
npm install leaflet react-leaflet
npm install socket.io-client
npm run dev

back-end

cd back-end
python3 -m venv venv
source venv/bin/activate
pip install flask flask-cors
pip install numpy
pip install pandas
pip install scikit-learn
pip install flask-socketio
python3 -m pip install joblib
python server.py