.containerAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    color: #fff;
}

.containerAccount h1{
    font-size: 36px;
    text-align: center;
}

.containerAccount .input-boxAccount{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerAccount button{
    width: 100%;
}

.input-boxAccount .iconAccount{
    margin-right: 1vh;
}

.remember-forgotAccount a{
    color: cornflowerblue;
}

.remember-forgotAccount a:hover{
    color: deepskyblue;
}

.register-linkAccount a{
    color: cornflowerblue;
}

.register-linkAccount a:hover{
    color: deepskyblue;
}