@font-face {
    font-family: 'FiraCode';
    src: url(../assets/FiraCode-Medium.ttf) format('truetype');
}

*{
    font-family: FiraCode;
}

body {    
    background-color: #242424;
}

select{
    background-color: #242424;
    color: #fff;
    border: 1px solid #fff;
}

.containerDistroForum {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px; 
}

.containerCenterDistroForum{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDistroForum{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.modernTitleDistroForum{
    background: linear-gradient(#9898ff  0%, #0f3a8b 50%, #9898ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconDistroForum{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.searchIconDistroForum{
    width: 10px;
    height: 10px;
}

.headerDistroForum {
    display: flex;
    justify-content: space-between;
}

.accountDistroForum{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    background: linear-gradient(#9898ff  0%, #0f3a8b 50%, #9898ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accountH6DistroForum{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.newPostDistroForum{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    color: #242424;
    background-color: #008000;
    margin-top: 50%;
    margin-left: 85%;
    cursor: pointer;
    text-decoration: none;
}